.password {
    margin: 0 auto;
    font-size: 28px;
}

.password>div {
    display: -webkit-box;
    -webkit-box-orient: horizontal;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    margin-top: 50px;
}

.password>div span {
    width: 148px;
    display: inline-block;
    text-align: center;
}

.password>div input {
    margin: 0;
    width: 350px;
    height: 55px;
    margin-left: 50px;
    font-size: 28px;
}

.password .btn-primary {
    margin: 0 auto;
    width: 306px;
    height: 55px;
    font-size: 28px;
    color: #fff;
}
