<% layout('layout.html') -%>
<div class="publish-show">
    <div class="publish-item publish-version">
        <p class="publish-text">版本号</p>
        <textarea  name="" placeholder=""><%=data[0].versionNumber%></textarea>
    </div>
    <div class="publish-item publish-branch">
        <p class="publish-text">关联分支</p>
        <ul class="branch-checked">
        <%for(var x in branchs){%>
            <%if(data[0].branches && data[0].branches.indexOf(x) != -1){%>
                <li>  
                    <div class="checked-btn" value='0' data-checked='true'><i class="checked-icon show"></i></div> 
                    <span><%=x%></span>
                </li>
            <%} else {%>
                <li>  
                    <div class="checked-btn" value='0' data-checked='false'><i class="checked-icon hide"></i></div> 
                    <span><%=x%></span>
                </li>
            <%}%>
        <%}%>
        </ul>
    </div>
    <div class="publish-item publish-explain">
        <p class="publish-text">版本说明</p>
        <textarea name="" placeholder=""><%=data[0].explain%></textarea>
    </div>
    <div class="publish-item publish-time">
        <p class="publish-text">预计发布时间</p>
        <textarea name="" placeholder=""><%=predictDate%></textarea>
    </div>
    <div class="publish-item publish-btn">
        <button class="publish-sure" data-id="<%=data[0].id%>">确认修改</button>
        <button class="publish-remove" data-id="<%=data[0].id%>">删除记录</button>
    </div>
</div>
