<% layout('layout.html') -%>
    <div class="password">
        <div>
            <span>用户名</span>
            <input type="text"></input>
        </div>
        <div>
            <span>原始密码</span>
            <input type="password"></input>
        </div>
        <div>
            <span>新密码</span>
            <input type="password"></input>
        </div>
        <div>
            <span>确认新密码</span>
            <input type="password"></input>
        </div>
        <div>
            <button type="submit" class="btn btn-primary" style="background: red">确认</button>
        </div>
    </div>
